* {
  box-sizing: border-box;
}

body {
  padding: 40px;
  font-family: sans-serif;
  color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
}

.project {
  display: block;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  height: 200px;
  cursor: pointer;
}
.project:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.card-body {
  position: relative;
  line-height: normal;
  height: 170px;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18pt;
  font-weight: bold;
  padding: 4pt;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0;
}

.estat {
  padding: 4pt;
}


